* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  /* line-height: 1.5; */
  /* font-size: 1.5rem; */
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
  box-sizing: border-box;
  max-width: 1930px;
  margin: 0 auto;
  background-color: #edebeb;
}

.menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.menu li {
  margin-left: 94px;
}

.menu li a {
  color: #252b42;
  text-decoration: none;
}

.menu li a:hover {
  color: #00a2ff;
}



.download_wrap {
  background: url(../img/74e21bec1bf0b8b2272cf1ee3e11677c.png);
  background-size: cover;
  padding: 75px 0 345px 0;
}

.download {
  color: #fff;
  text-align: center;
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.download_text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 20px;
}

.puv {
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  color: #000000;
  margin-bottom: 30px;
}

.slova {
  font-weight: 500;
  font-size: 1.5rem;
  color: #000000;

  line-height: 2rem;
  margin-bottom: 60px;
}

.bnt {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 16px 60px;
  background-color: #000000;
  display: 0 15px;
}

.bnt:hover {
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  box-shadow: 0 0 14px 0;
}



.wrap {
  /* max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px; */
  box-sizing: border-box;
}

.download {
  color: #fff;
  text-align: center;
}

.workrapp_wrap {
  padding: 50px 0;
}

.gparttitle {
  font-size: 2.75rem;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 80px;
}

.gparttitle:hover{
  color: #00a2ff;
  cursor: pointer;
}

.workapp--item {
  justify-content: space-between;
  margin-bottom: 100px;

  margin: 0 auto;

}

.workapp--item img{
  border-radius: 10px;
}

.worhapp_block{
  display: flex;
}

.img1 {
  border-radius: 40px;
}

.workapp__txt {
  /* font-size: 1.5rem; */
  font-weight: 300;
  /* line-height: 2.750rem; */
  color: #737373;
  /* width: 50%; */
}


.putesestviya {
  background-color: #edebeb;
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
}

.deviz h5 {
  text-align: center;
  padding-top: 40px;
  color: #000000;
  padding-bottom: 40px;
  font-size: 20px;
}

.deviz h2 {
  text-align: center;
  padding-top: 40px;
  color: #000000;
  padding-bottom: 40px;
  font-size: 20px;
}

.slova-otziv {
  padding-left: 500px;
  line-height: 20px;
  font-size: 20px;
}

.slova-otziv div {
  padding-top: 40px;
}

.pople {
  display: flex;
}

.pople img {
  border-radius: 70px;
  padding-left: 30px;
  margin-top: -20px;
  border-bottom: 0px;
}

.img2 {
  background: url(../img/1616711340_51-p-zelenii-fon-priroda-58.jpg);
  background-size: cover;
  height: 10px;
  padding: 75px 0 845px 0;
}


.deviz h4 {
  text-align: center;
  padding-top: 100px;
  color: #5b5b5b;
  margin-left: -110px;
  font-size: 20px;
}

.brutal p {
  text-align: center;
}

#mode {
  text-align: center;
}

.mode-input {
  margin-top: 100px;
}

.mode-input h1 {
  margin-left: -180px;
  color: #000000;
}

.mode-input h2 {
  margin-left: -30px;
  color: #000000;
}

.mode-input h3 {
  margin-left: -100px;
  font-size: 23px;
  color: #000000;
}


.mode-input h4 {
  margin-left: -130px;
  font-size: 25px;
  color: #000000;
}

.input {
  height: 40px;
  width: 340px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.poisk {
  background-color: greenyellow;
  width: 350px;
  height: 30px;
  margin-top: 30px;
  margin-left: 777px;
  padding-top: 10px;
}

.ap {
  text-decoration: none;
  color: black;
}

.putesestviya1 {
  background-color: #edebeb;
  text-align: center;
  padding-top: 40px;
  margin-top: 0px;
  -shadow: 0 0 13px 0;
  padding-bottom: 40px;
  font-size: 40px;
}


.akciya {
  height: 500px;
  width: 1903px;
  background-color: rgb(206, 206, 206);
  display: flex;
}

.akciya img {
  padding-left: 450px;
  padding-top: 100px;
}

.akciya div p {
  padding-top: 50px;
  font-size: 16px;
  color: #252b42;
  padding-left: 50px;
  letter-spacing: 2px;
}

.akciya div h1 {
  padding-top: 120px;
  font-size: 30px;
  line-height: 4px;
  color: #252b42;
  padding-left: 50px;
  letter-spacing: 2px;
}


.ap1 {
  width: 200px;
  height: 40px;
  background-color: greenyellow;
  border: none;
  margin-left: 50px;
  margin-top: 30px;

}

.ap1 a {
  text-decoration: none;
  color: #252b42;
}

.photo-aksiya {
  width: 1903px;
  height: 700px;
  background: url(../img/1.jpg);
}

.workapp__txt:hover{
  color: #00a2ff;
  /* font-size: 30px; */
}

.text-akciya {
  text-align: center;
  font-size: 30px;
  padding-top: 120px;
}

.email-text p {
  text-align: center;
  margin-left: -215px;
  padding-top: 100px;
  font-size: 22px;
  padding-bottom: 30px;
}

.input-akciya {
  text-align: center;
  padding-bottom: 30px;
}

.input-akciya input {
  padding-left: 10px;
  width: 380px;
  border-radius: 10px;
  border: none;
  height: 30px;
}

.button-akciya {
  text-align: center;
}

.button-akciya a button {
  text-align: center;
  border: none;
  cursor: pointer;
  width: 390px;
  height: 40px;
  background-color: greenyellow;
}

.black {
  background-color: #000000;
  padding-top: 200px;
  padding-bottom: 100px;
}


.display-flex4 ul {
  color: white;
  justify-content: center;
  margin-top: -180px;
  display: flex;
}

.display-flex4 li{
  padding-left: 50px;
}

.display-flex4 {
  margin-right: 50px;
  margin-left: 50px;
  list-style-type: none;
}
ul{
  text-decoration: none;font-style: none;
  list-style: none;
}

.connection {
  text-align: center;
  padding-top: 100px;

}

.connection li a{
  text-decoration: none;
  padding-top: 20px;
  color: white;
}


.menu1{
  margin-left: 300px;
  margin-top: -120px;
}

.menu1 li a{
text-decoration: none;
color: white;
}

.menu1 li {
  padding-top: 20px;
}
.menu1 a:hover{
  color: #00a2ff;
}

.logo-end{
  margin-left: 1300px;
  margin-top: -150px;
}

